{% extends "personal/header.html" %}
{% block content %}
  <style>
    body {
      background-color: #e2e2e2;
    }
  </style>

  <center>
    <p style="color: #e2e2e2"> ---------------------------------------------------------- </p>
    <h3> <b> {{ post.tittel }} </b> </h3>
    <h4> {{ post.innhold }} </h4>
    <h6> on {{ post.date }} <h6>
    <p style="color: #e2e2e2"> ---------------------------------------------------------- </p>
    {{ post.content|linebreaks }}
    <p style="color: #e2e2e2"> ---------------------------------------------------------- </p>
    <h5> <img src="http://127.0.0.1:8000/media/{{ post.person.userprofile.image }}" width="50" height="50" /> {{ post.person }} </h5>
  </center>

  <button class="btn btn-info btn-lg" onclick="addComment()"> Kommenter </button>
  <hr>
  {% for comments in post.comment.all %}
    <center>
    <p style="color: #e2e2e2"> ---------------------------------------------------------- </p>
    <p>{{ comments.com_innhold }}</p>
    <p><img src="http://127.0.0.1:8000/media/{{ comments.user.userprofile.image }}" width="50" height="50" />  {{ comments.user }}</p>
    <p style="color: #e2e2e2"> ---------------------------------------------------------- </p>
    <p style="color: #999999"> ---------------------------------------------------------- </p>
    {% empty %}
      <p> Det finnes ingen kommentarer </p>
    </center>
  {% endfor %}
  <script>
    function addComment() {
      location.href = "{% url 'add_comment' post.pk %}"
    }
  </script>
{% endblock %}
